# Terraform state files
terraform.tfstate
terraform.tfstate.*

# Terraform variable files (optional/sensitive)
*.tfvars
*.tfvars.json
.env.tf

# Terraform local dir
.terraform/
.terraform.lock.hcl

# Backup files
*.backup
*.bak
